@using Telerik.Sitefinity.DynamicModules.Model
@using Telerik.Sitefinity.Model
@using Telerik.Sitefinity.Libraries.Model
@model IQueryable<DynamicContent>

<h1 class="border-bottom">
    Torrents
</h1>

@using (Ajax.BeginForm("SearchTorrents", "Torrents", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "torrentsSearchResult",
}, new { id = "torrentsSearchForm" }))
{
    <div class="form-row align-items-center mt-5">
        <div class="col-6">
            <input type="text" class="form-control mb-2" name="title" placeholder="Title">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-outline-primary mb-2">Search</button>
        </div>
    </div>
}

<div id="torrentsSearchResult">
    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Genre</th>
                <th scope="col">Created On</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                var count = 1;

                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@(count++)</th>
                        <td>
                            <div class="row">
                                <div class="col-3">
                                    <img src="@(item.GetValue<Image>("Image").ThumbnailUrl)" />
                                </div>
                                <div class="col">
                                    @Html.Raw(item.GetString("Title"))
                                </div>
                            </div>
                        </td>
                        <td>@Html.Raw(item.GetValue("Genre").ToString())</td>
                        <td>@Html.Raw(item.GetValue("CreatedOn"))</td>
                        <td>@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-primary" })</td>
                    </tr>
                }
            }
            else
            {
                <tr>Няма данни!</tr>
            }
        </tbody>
    </table>
</div>






